In [366]:
import numpy as np
import pandas as pd

### Question 1

In [367]:
def answer_one():
    energy = pd.DataFrame(pd.read_excel('Energy Indicators.xls', header= 17,skipfooter = 38))
    energy = energy.drop(['Unnamed: 0','Unnamed: 1'], axis= 1)
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy = energy.replace('...', np.nan)
    energy['Energy Supply'] *= 1000000
    energy['Country'] = energy['Country'].str.replace("Republic of Korea", "South Korea", regex=True)
    energy['Country'] = energy['Country'].str.replace("United States of America", "United States", regex=True)
    energy['Country'] = energy['Country'].str.replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom", regex=True)
    energy['Country'] = energy['Country'].str.replace("China, Hong Kong Special Administrative Region", "Hong Kong", regex=True)
    energy['Country'] = energy['Country'].str.replace(r"( \(.*\))", "", regex=True).str.replace(r"([0-9])", "", regex=True)

    GDP  = pd.DataFrame(pd.read_csv('world_bank.csv',header= 2))
    GDP['Country Name'] = GDP['Country Name'].str.replace('Korea, Rep.','South Korea', regex=True)
    GDP['Country Name'] = GDP['Country Name'].str.replace('Iran, Islamic Rep.','Iran', regex=True)
    GDP['Country Name'] = GDP['Country Name'].str.replace('Hong Kong SAR, China','Hong Kong', regex=True)
    GDP = GDP[['Country Name','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
    GDP.rename( columns= {'Country Name':'Country'}, inplace = True) 

    ScimEn = pd.DataFrame(pd.read_excel('Energy Engineering and Power Technology.xlsx'))                     
    ScimEn = ScimEn[:15]

    tempresult = pd.merge(ScimEn, energy, on='Country')
    result = pd.merge(tempresult, GDP, on='Country').set_index('Country')
    result = result[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document',
                    'H index', 'Energy Supply', 'Energy Supply per Capita','% Renewable',
                    '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]

    return result.astype('int64')

answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,273437,272374,2336764,1615239,8,245,127191000000,93,19,2752131773358,3550342737009,4594307032667,5101703073088,6087163874510,7551500124197,8532229986993,9570406235659,10475682920597,11061553079871
United States,2,175891,172431,2230544,724472,12,363,90838000000,286,11,13814611414000,14451858656000,14712844084000,14448933025000,14992052727000,15542581104000,16197007349000,16784849196000,17527163695000,18238300569000
India,3,55082,53775,463165,162944,8,181,33195000000,26,14,940259888792,1216735441524,1198895582137,1341886602798,1675615335600,1823049927772,1827637859136,1856722121394,2039127446299,2103587813812
Japan,4,50523,50065,488062,119930,9,193,18984000000,149,10,4601663122649,4579750920354,5106679115127,5289493117993,5759071769013,6233147172341,6272362996105,5212328181166,4896994405353,4444930651964
United Kingdom,5,43389,42284,615670,111290,14,226,7920000000,124,10,2706014719411,3093407362945,2921431985294,2412389780339,2481579504997,2659882040934,2704017284861,2783251090198,3065521109394,2932784751846
Germany,6,38739,38013,433148,95145,11,196,13261000000,165,17,2992196713084,3421229126745,3730027830672,3397791053070,3396354075663,3744408602683,3527344944139,3732743446218,3883920155292,3356235704119
Russian Federation,7,36735,36560,115938,54993,3,90,30709000000,214,17,989930542278,1299705764823,1660846387624,1222644282201,1524917468442,2045925608274,2208295773643,2292473246621,2059241965490,1363481063446
Canada,8,33472,32863,568080,100953,16,227,10431000000,296,61,1319264809590,1468820407783,1552989690721,1374625142157,1617343367486,1793326630174,1828366481521,1846597421834,1805749878439,1556508816217
Italy,9,27983,26940,352993,87828,12,166,6530000000,109,33,1947919708944,2210292636189,2398856598798,2191241872742,2134017843247,2291991045770,2087077032435,2141315327318,2159133919743,1835899237320
South Korea,10,27655,27445,328488,61531,11,155,11007000000,221,2,1053216909887,1172614086539,1047339010225,943941876218,1144066965324,1253223044718,1278427634342,1370795199976,1484318219633,1465773245547
France,11,25232,24732,343860,65734,13,178,10597000000,166,17,2318593651988,2657213249384,2918382891460,2690222283967,2642609548930,2861408170264,2683825225092,2811077725703,2852165760630,2438207896251
Iran,12,22933,22734,307280,97038,13,141,9172000000,119,5,266298911661,349881601458,412336172446,416397025729,486807615326,580764902917,598868460912,460293149324,432687036177,384951479697
Spain,13,21955,21597,352497,64588,16,176,4923000000,106,37,1259343871534,1472131125102,1625224842536,1485583495415,1420722034063,1478772824224,1324820091194,1354757433212,1369398844599,1195119269971
Brazil,14,21524,21236,183915,45172,8,127,12149000000,59,69,1107640289615,1397084349956,1695824565983,1667019783585,2208871646202,2616200980392,2465188674415,2472806919901,2455993625159,1802214373741
Australia,15,20614,20147,314307,51583,15,176,5386000000,231,11,746054207846,853099630996,1053995523724,927805183330,1146138465603,1396649906339,1546151783872,1576184467015,1467483705131,1351693984524

### Question 2
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [368]:
def answer_two():
    Top15 = answer_one().iloc[:,-10:]
    avgGDP = Top15.mean(axis=1).sort_values(ascending=False)
    return avgGDP.astype('int64')

answer_two()

Country
United States         15671020181900
China                  6927702083794
Japan                  5239642145206
Germany                3518225165168
United Kingdom         2776027963021
France                 2687370640366
Italy                  2139774522250
Brazil                 1988884520894
Russian Federation     1666746210284
Canada                 1616359264592
India                  1602351801926
Spain                  1398587383185
South Korea            1221371619240
Australia              1206525685838
Iran                    438928635564
dtype: int64

### Question 3
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [369]:
def answer_three():
    Top15 = answer_one().iloc[5:6,-10:]
    result = int(Top15['2015'] - Top15['2006'])
    return result

answer_three()

364038991035

### Question 4
Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [370]:
def answer_four():
    Top15 = answer_one()
    ratio  = (Top15['Self-citations'] / Top15['Citations']).sort_values(ascending=False)
    return ratio[:1]

answer_four()

Country
China    0.691229
dtype: float64

### Question 5

Create a column that estimates the population using Energy Supply and Energy Supply per capita.
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [371]:
def answer_five():
    Top15 = answer_one()
    population = (Top15['Energy Supply']/Top15['Energy Supply per Capita']).sort_values(ascending=False)
    return population.axes[0].tolist()[2]

answer_five()

'United States'

### Question 6
Create a column that estimates the number of citable documents per person. What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

In [372]:
def answer_six():
    Top15 = answer_one()
    population = (Top15['Energy Supply']/Top15['Energy Supply per Capita'])
    citableDocumentsPerPerson = Top15['Citable documents'] / population
    return citableDocumentsPerPerson.corr(Top15['Energy Supply per Capita'])

answer_six()

0.743470912772678

### Question 7
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia',
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe',
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [373]:
def answer_seven():
    Top15 = answer_one()
    ContinentDict  = {'China':'Asia', 
                      'United States':'North America', 
                      'Japan':'Asia', 
                      'United Kingdom':'Europe', 
                      'Russian Federation':'Europe', 
                      'Canada':'North America', 
                      'Germany':'Europe', 
                      'India':'Asia',
                      'France':'Europe', 
                      'South Korea':'Asia', 
                      'Italy':'Europe', 
                      'Spain':'Europe', 
                      'Iran':'Asia',
                      'Australia':'Australia', 
                      'Brazil':'South America'}
    
    population = (Top15['Energy Supply']/Top15['Energy Supply per Capita'])
    group = population.groupby(ContinentDict)
    
    result = pd.DataFrame(columns = ['size', 'sum', 'mean', 'std'])
    result['size'], result['sum'] = group.size(), group.sum()
    result['mean'], result['std'] = group.mean(), group.std()
    
    result['std'] = result['std'].replace(np.nan, 0, regex=True)
    return result.astype('int64').replace(0,np.nan)

answer_seven()

               size         sum       mean          std
Country
Asia              5  2898666386  579733277  679097888.0
Australia         1    23316017   23316017          NaN
Europe            6   457929667   76321611   34647667.0
North America     2   352855249  176427624  199669644.0
South America     1   205915254  205915254          NaN